* {
    font-family: 'Times New Roman';
}

.aboutus-bg-outer {
    overflow: hidden;
}

.aboutus-bg {
    background-image: url("images/about-bg.jpg");
    min-height: 700px;
    width: auto;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}

.aboutus-bg-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 180px 0px;
}

.aboutus-bg-heading1 {
    font-family: 'Times New Roman';
    font-size: 100px;
    color: white;
}

.aboutus-bg-heading2 {
    font-family: 'Times New Roman';
    font-size: 40px;
    color: white;
}

.aboutus-bg-downArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: key1 .3s ease infinite alternate;
    cursor: pointer;
}

@keyframes key1 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.aboutus-howwework-section {
    min-height: 610px;
    background-color: #f6f6f6;
    margin: 20px 0px;
}

.aboutus-howwework-maindiv {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutus-howwework-heading1 {
    font-size: x-large;
}

.aboutus-howwework-heading2 {
    font-size: 50px;
    color: #AD9271;
}

.aboutus-howwework-content {
    text-align: center;
    padding: 0px 350px;
    font-size: large;
}

.aboutus-howwework-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aboutus-howwework-step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutus-howwework-step-logo {
    font-size: 100px;
}

.aboutus-howwework-step-heading {
    font-weight: bolder;
    font-size: 40px;
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,
            #AD9271,
            #AD9271 50%,
            black 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.aboutus-howwework-step-heading:hover {
    transition: all 1s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

.aboutus-howwework-step-heading-description {
    text-align: center;
    font-size: large;
}


.image-section-outer {
    min-height: 400px;
    /* margin: 100px 0px 0px 630px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
/* 
.scope {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;
}

.scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.scope span:hover img {
    transform: translateY(-50px) scale(1.7);
} */


.container2{
    height: 400px;
    aspect-ratio: 1.5 / 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.container2:has(.img.active) .img:not(.active){
    filter: grayscale(100%)
}

.img{
    height: 100%;
    width: calc(100% / 5);
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #141414;
    transition: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
    cursor: pointer;
}

.active{
    width: 200%;
}


.planners-section-mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    background-color: #f6f6f6;
}
.planners-section-heading1{
    font-weight: bolder;
    font-size: xx-large;
}
.planners-section-heading2{
    font-weight: bolder;
    font-size: 50px;
    color: #AD9271;
}
.planners-section-content{
    width: 50%;
    font-size: larger;
    text-align: center;
}
/* @keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
} */


@media only screen and (max-width: 350px) {
    .aboutus-bg-heading1 {
        font-size: 50px;
    }

    .aboutus-bg-heading2 {
        font-size: large;
    }

    .aboutus-howwework-heading2 {
        font-size: x-large;
        text-align: center;
    }

    .aboutus-howwework-content {
        padding: 0px;
    }

    .aboutus-howwework-steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .aboutus-howwework-step-heading{
        font-size: 30px;
    }
    .planners-section-content{
        width: fit-content;
    }
}

@media only screen and (max-width: 500px) {
    .aboutus-bg-heading1 {
        font-size: 50px;
    }

    .aboutus-bg-heading2 {
        font-size: large;
    }

    .aboutus-howwework-heading2 {
        font-size: xx-large;
        text-align: center;
    }

    .aboutus-howwework-content {
        padding: 0px;
    }

    .aboutus-howwework-steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .aboutus-howwework-step-heading{
        font-size: 30px;
    }
    .planners-section-content{
        width: fit-content;
    }
}

@media only screen and (max-width: 650px) {
    .aboutus-bg-heading1 {
        font-size: 50px;
    }

    .aboutus-bg-heading2 {
        font-size: large;
    }

    .aboutus-howwework-heading2 {
        font-size: xx-large;
        text-align: center;
    }

    .aboutus-howwework-content {
        padding: 0px;
    }

    .aboutus-howwework-steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .aboutus-howwework-step-heading{
        font-size: 30px;
    }
    .planners-section-content{
        width: fit-content;
    }
}