body {
  overflow-x: hidden;
}

.company-logo {
  width: 200px;
  height: 40px;
}

.fixed-bg-outer {
  overflow: hidden;
}

.fixed-bg {
  background-image: url("images/weeding-bg.jpg");
  min-height: 700px;
  width: auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: zoom-in-zoom-out 10s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}
.navbar-content {
  padding: 15px 25px;
  color: white;
  font-size: larger;
}

.navbar-content:hover {
  color: #AD9271;
}

.fixed-bg2 {
  background-image: url("images/hero.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg1-mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 125px 0px;
}

.fixed-bg1-heading1 {
  font-family: 'Times New Roman';
  font-size: 20px;
  color: white;
  padding: 30px 0px 0px 0px;
}

.fixed-bg1-heading2 {
  font-family: 'Times New Roman';
  font-size: 150px;
  color: white;
}

.fixed-bg1-heading3 {
  font-family: 'Times New Roman';
  font-size: 40px;
  color: white;
}

.indent-1 {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}
.read-more-section-mainDiv{
  width: 50%;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button3:hover {
  background-color: black;
  color: white;
}

.button4 {
  color: black;
  border: 2px solid black;
}

.button4:hover {
  background-color: black;
  color: white;
}

.button5 {
  color: white;
  border: 2px solid white;
}

.button5:hover {
  background-color: white;
  color: black;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrLine {
  width: 50%;
}
.indent1-img-outer{
  width: 50%;
}

.catering {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.catering-detail-heading {
  font-family: 'Times New Roman';
  font-size: 20px;
}

.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.decoration-detail-heading {
  font-family: 'Times New Roman';
  font-size: 20px
}

.sound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.sound-detail-heading {
  font-family: 'Times New Roman';
  font-size: 20px
}

.detail {
  padding-left: 5px;
}

.fixed-bg2-content {
  color: white;
  padding: 150px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.bg2-content-1 {
  font-family: 'Times New Roman';
  font-size: 20px
}

.bg2-content-2 {
  font-family: 'Times New Roman';
  font-size: 50px
}
.bg2-content-5{
  width: 40%;
}
.bg2-content-3{
  width: 40%;
}

.bg2-content-4 {
  font-family: 'Times New Roman';
  font-size: 30px;
  color: #AD9271;
}

.social-media {
  display: flex;
  justify-content: left;
  align-items: center;
}

.fixed-bg3 {
  background-image: url("images/flower.jpg");
  ;
  min-height: 700px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.bg3-mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px;
}

.bg3-heading {
  font-family: 'Times New Roman';
  color: #fff;
  font-size: x-large;
}

.bg3-heading2 {
  font-family: 'Times New Roman';
  color: white;
  font-size: 150px;
}

.bg3-content {
  font-family: 'Times New Roman';
  color: #AD9271;
  font-size: 30px;
}

.gallary-section {
  height: 900px;
  background-color: white;
}

.gallary-section-content {
  font-family: 'Times New Roman';
  background-color: #f6f6f6;
  margin: 20px;
}

.gallary-section-headings {
  padding: 100px 0px 50px 195px;
}

.gallary-section-heading1 {
  font-size: 20px;
}

.gallary-section-heading2 {
  font-size: 40px;
}

.gallary-section-mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallary-section-mainDiv-images {
  height: 250px;
  margin: 10px;
}

.gallary-section-btn {
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer-div {
  height: 600px;
  background-color: white;
}

.footer-mainDiv {
  display: flex;
  flex-direction: row;
}

.footer-leftDiv {
  background-color: black;
  width: 50%;
}

.footer-leftDiv-mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 185px 0px;
}

.footer-leftDiv-mainDiv-fancyBorder {
  color: white;
  padding: 15px;
}

.footer-leftDiv-mainDiv-heading1 {
  font-size: 20px;
  color: white;
  font-family: 'Times New Roman';
}

.footer-leftDiv-mainDiv-heading2 {
  font-size: 40px;
  color: #AD9271;
  font-family: 'Times New Roman';
}

.footer-leftDiv-mainDiv-heading3 {
  font-size: 15px;
  text-align: center;
  color: white;
  font-family: 'Times New Roman';
}

.footer-rightDiv {
  background-color: #ffffff;
  height: 600px;
  width: 50%;
}

.footer-rightDiv-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.footer-rightDiv-content-headeing1 {
  font-size: 40px;
  font-family: 'Times New Roman';
}

.footer-rightDiv-content-headeing2 {
  font-size: 15px;
  font-family: 'Times New Roman';
}

.footer-rightDiv-form {
  margin-top: 50px;
  padding: 0px 50px;
}

.footer-rightDiv-form-button {
  display: flex;
  justify-content: center;
}

.how-we-work-section {
  height: 700px;
  background-color: white;
}

.how-we-work-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.how-we-work-mainDiv{
  padding: 80px 0px;
}

.how-we-work-content-heading1 {
  font-size: 35px;
  font-family: 'Times New Roman';
}

.how-we-work-content-heading2 {
  font-family: 'Times New Roman';
  font-size: 20px;
  color: #666666;
}

.how-we-work-chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:-50px;
}
.how-we-work-chart-mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 100%;
  position: relative;
}

.one {
  height: 50px;
  width: 300px;
  border-width: 2px;
  border-color: white;
  margin-top: 70px;
}

.two {
  height: 50px;
  width: 300px;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-top: 1px dashed black;
  border-width: 2px;
  margin-top: 70px;
}

.three {
  height: 50px;
  width: 300px;
  border-width: 2px;
  border-color: white;
  margin-top: 70px;
}

.four {
  height: 50px;
  width: 300px;
  border-top: 1px dashed black;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-width: 2px;
  margin-top: 70px;
}

.five {
  height: 50px;
  width: 300px;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-width: 2px;
  border-color:white ;
  margin-bottom: 70px;
}

.six {
  height: 50px;
  width: 300px;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  border-width: 2px;
  margin-bottom: 60px;
}

.how-we-work-chart-divs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  position: absolute;
  justify-content: center;
}

.one-div {
  background-color: black;
  height: 200px;
  width: 300px;
  margin: 5px;
}

.two-div {
  background-color: black;
  height: 200px;
  width: 300px;
  margin: 5px;
}

.three-div {
  background-color: black;
  height: 200px;
  width: 300px;
  margin: 5px;
}

.four-div {
  background-color: black;
  height: 200px;
  width: 300px;
  margin: 5px;
}

.one-div-user-mainDiv{
  display: flex;
  justify-content: left;
  align-items: center;
}
.one-div-user-heading{
  font-size: xx-large;
  color: white;
  font-family: 'Times New Roman';
}
.one-div-user-content{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 20px;
  color: #666666;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .one-div {
    height: 210px;
  }
  
  .two-div {
    height: 210px;
  }
  
  .three-div {
    height: 210px;
  }
  
  .four-div {
    height: 210px;
  }
  .fixed-bg2-content{
    padding: 120px 50px;
  }
  .bg3-heading2{
    font-size: 70px;
  }
  .fixed-bg1-heading2{
    font-size: 70px;
  }
  .fixed-bg1-heading3{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
  }
  /* .header-navbar-mainDiv-navBar{
    display: none;
  } */
  .read-more-section-mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .indent1-img-outer{
    display: none;
  }
  .bg2-content-5{
    width: 100%;
  }
  .bg2-content-3{
    width: 100%;
  }
  .gallary-section{
    height: 100%;
  }
  .gallary-section-headings{
    padding: 0px;
  }
  .gallary-section-heading1{
    text-align: center;
  }
  .gallary-section-heading2{
    text-align: center;
  }
  .bg3-heading{
    font-family: 'Times New Roman';
    font-size: large;
    color: white;
    padding: 30px 0px 0px 0px;
  }
  .bg3-content{
    font-size: small;
  }
  .how-we-work-content-heading2{
    text-align: center;
  }
  .how-we-work-chart-mainDiv{
    display: none;

  }
  .how-we-work-chart-divs{
    position: static;
  }
  .how-we-work-section{
    height: 1100px;
  }
  .footer-mainDiv{
    display: flex;
    flex-direction: column;
  }
  .footer-leftDiv{
    width: 100%;
  }
  .footer-rightDiv{
    width: 100%;
  }
  .footer-rightDiv-content-headeing1{
    text-align: center;
  }
  .footer-rightDiv-content-headeing2{
    text-align: center;
  }
  .indent-1{
    padding: 10px;
  }
  .fixed-bg{
    animation: zoom-in-zoom-out 0s ease infinite;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 350px) {
  .one-div {
    height: 210px;
  }
  
  .two-div {
    height: 210px;
  }
  
  .three-div {
    height: 210px;
  }
  
  .four-div {
    height: 210px;
  }
  .indent-1{
    padding: 0px;
  }
  .fixed-bg{
    animation: zoom-in-zoom-out 0s ease infinite;
  }
  .bg3-heading{
    font-family: 'Times New Roman';
    font-size: large;
    color: white;
    padding: 30px 0px 0px 0px;
  }
  .bg3-content{
    font-size: small;
  }
  .fixed-bg1-heading3{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
  }
  .fixed-bg{
    animation: zoom-in-zoom-out 0s ease infinite;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  .one-div {
    height: 210px;
  }
  
  .two-div {
    height: 210px;
  }
  
  .three-div {
    height: 210px;
  }
  
  .four-div {
    height: 210px;
  }
  .fixed-bg2-content{
    padding: 120px 50px;
  }
  .bg3-heading2{
    font-size: 70px;
  }
  .fixed-bg1-heading2{
    font-size: 70px;
  }
  .fixed-bg1-heading3{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
  }
  .read-more-section-mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .indent1-img-outer{
    display: none;
  }
  .bg2-content-5{
    width: 100%;
  }
  .bg2-content-3{
    width: 100%;
  }
  .gallary-section{
    height: 100%;
  }
  .gallary-section-headings{
    padding: 0px;
  }
  .gallary-section-heading1{
    text-align: center;
  }
  .gallary-section-heading2{
    text-align: center;
  }
  .bg3-heading{
    font-family: 'Times New Roman';
    font-size: large;
    color: white;
    padding: 30px 0px 0px 0px;
  }
  .bg3-content{
    font-size: small;
  }
  .how-we-work-content-heading2{
    text-align: center;
  }
  .how-we-work-chart-mainDiv{
    display: none;

  }
  .how-we-work-chart-divs{
    position: static;
  }
  .how-we-work-section{
    height: 1100px;
  }
  .footer-mainDiv{
    display: flex;
    flex-direction: column;
  }
  .footer-leftDiv{
    width: 100%;
  }
  .footer-rightDiv{
    width: 100%;
  }
  .footer-rightDiv-content-headeing1{
    text-align: center;
  }
  .footer-rightDiv-content-headeing2{
    text-align: center;
  }
  .indent-1{
    padding: 10px;
  }
  .fixed-bg{
    animation: zoom-in-zoom-out 0s ease infinite;
  }
}


/* -------------------- nav bar------------------------- */

#header{
  background-color: black;
}
.logo {
  color:black;
  display:inline-lock;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 3;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}
.header .menu li a{
  color: white;
}
/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */
/* 
.menu{
  background-color: black;
} */
.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 370px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header .menu-btn:checked ~ .menu {
    max-height: 370px;
  }
  
  .header{
    background-color: black; 
  }
	.header li {
		float: left;
    /* background-color: black; */
	}
	.header li a {
		padding: 22px 14px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
    /* background-color: black; */
	}
	.header .menu-icon {
		display: none;
    /* background-color: black; */
	}
}